<nav class="ssc-navbar mx-5">
    <div class="ssc-navbar-item-container mb-2">
        <div class="ssc-navbar__section">
            <a routerLink="/" routerLinkActive="active">Skyscraper</a>
        </div>
        <div class="ssc-navbar-collapsible-section ssc-navbar__section">
            <div class="ssc-navbar__section ssc-navbar__section--middle">
                <div class="ssc-navbar__item" routerLinkActive="active">
                    <a routerLink="/saved">{{'Saved cars' | translate}}</a>
                </div>
                <div class="ssc-navbar__item" routerLinkActive="active">
                    <a routerLink="/faq">{{'FAQ' | translate}}</a>
                </div>
            </div>
            <div class="ssc-navbar__section ssc-navbar__section--last">
                <a class="">login</a>
            </div>
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
