#navbarDropdown > img {
  height: 3rem;
  width: 3rem;
}

.dropdown-toggle::after {
  border-top-color: white;
}

.nav-link, .dropdown-item {
  cursor: pointer;
}

.navbar-collapse.show {
  display: flex;
}