<!--Navbar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand" href="/#">Skyscraper</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
            <!--navbar left items-->
        <!--</ul>-->
        <div class="ml-auto my-2 my-lg-0 mr-1" *ngIf="isSignedIn" ngbDropdown >
            <a ngbDropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!--<img [src]="profile.getImageUrl() || 'favicon.png'" class="rounded-circle">-->
            </a>
            <div ngbDropdownMenu placement="left" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
        <div id="googleLogin" *ngIf="!isSignedIn" (click)="login()"></div>
    </div>
</nav>