<!--Navbar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-md mx-3 my-4 rounded">
    <a class="navbar-brand" href="/#">Skyscraper</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
            <!--navbar left items-->
        <!--</ul>-->
        <div class="ml-auto my-2 my-lg-0 mr-1" ngbDropdown placement="bottom-right">
            <a ngbDropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" class="float-right">
                <img [src]="isSignedIn ? profile.getImageUrl() : 'favicon.png'" class="rounded-circle">
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                <a *ngIf="isSignedIn"  class="dropdown-item" href="#" (click)="logout()">Logout</a>
                <a *ngIf="!isSignedIn"  class="dropdown-item" href="#" (click)="login()">Google login</a>
            </div>
        </div>
    </div>
</nav>