<h4>{{ 'How does it work?' | translate }}</h4>
<p>{{'faq_comp_how_does_it_work_answer' | translate}}</p>
<h4>{{ 'I see no data in the table, why?' | translate }}</h4>
<p>{{'faq_comp_why_no_data_answer' | translate}}</p>
<h4>Plugin?</h4>
<p>
    {{'faq_comp_plugin_answer' | translate}}
    <a href="https://chrome.google.com/webstore/detail/skyscraper/odfhojkibflocdfbgdmglooaajmlnlpb" class="btn btn-sm"
        target="_blank">{{'Add to Chrome' | translate}}</a>
</p>
<h4>{{ 'Is it safe to log in?' | translate }}</h4>
<p><b>{{'Yes.' | translate}}</b> {{'faq_comp_is_it_safe_login_answer' | translate}}</p>
