<div class="container-fluid d-flex flex-column align-items-center">
    <table class="table-striped table-hover table-dark container-fluid order-0" *ngIf="!!carData && carData.length > 0">
        <thead>
        <tr class="row">
            <th class="col-md-3">{{'Name & link' | translate}}</th>
            <th class="col-md-1">{{'Production date' | translate}}</th>
            <th class="col-md-3">{{'Price' | translate}}</th>
            <th class="col-md-2">{{'Mileage' | translate}}</th>
            <th class="col-md-2">{{'Power' | translate}}</th>
            <th class="col-md-1">{{'Worth' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of carData" class="row">
            <td class="col-md-3">
                <input type="text" *ngIf="editMode" [(ngModel)]="car.linkName">
                <a href="{{car.CarUri}}"
                   *ngIf="!editMode"><strong>{{car.linkName || ('Link name' | translate) }}</strong></a>
                <i class="fa fa-edit float-right" *ngIf="!editMode" (click)="editMode = !editMode"></i>
                <i class="fa fa-check-square float-right" *ngIf="editMode" (click)="editMode = !editMode"></i>
            </td>
            <td class="col-md-1">
                {{car.prod_date}}
            </td>
            <td class="col-md-3">
                {{car.price | currency: car.currency:'symbol':'1.0-0':(lang$ | async)}}
            </td>
            <td class="col-md-2">
                {{car.speedometer}}
            </td>
            <td class="col-md-2">
                {{car.power}}
            </td>
            <td class="col-md-1">
                {{car.worth | number: '1.0-2'}}
            </td>
        </tr>
        </tbody>
    </table>
    <input type="button" class="btn order-1" *ngIf="isSignedIn && carData.length" (click)="saveCarDetails()"
           value="{{'Save table' | translate}}">
</div>
