<div role="form" class="form" id="postForm">
    <div *ngFor="let uri of uris; let i=index; trackBy: trackByIndex">
        <div class="inputTextDiv form-group row">
            <div class="offset-1 col-10">
                <input type="url" class="form-control"
                       placeholder="hasznaltauto.hu url"
                       [(ngModel)]="uris[i]" (ngModelChange)="addNewUrl($event, i)">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10">
            <input class="btn btn-primary form-control" type="button"
                   (click)="getCarData()" value="Összehasonlítás">
        </div>
    </div>
</div>
<i *ngIf="spinner" class="fa fa-spinner fa-spin fa-4x fa-fw col-md-10"></i>
<ssc-car-data-table></ssc-car-data-table>
